@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  padding-top: 12vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-title h1{ 
  text-align: center;
  color: white;
  font-size: 45px;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  margin-bottom: 10%;
}

.input, .checkbox, .span, input[type=submit]{
  display: flex;
  flex-direction: column;
  align-items:flex-start 
}

fieldset{
  padding: 6% 5%;
  border: none;
}

.form-box{
  background-color: #121212;
  font-family: 'Poppins', sans-serif;
  width: 35%;
  border-radius: 5px;
}

.form-box label{
  color: #969696;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 8px;
}

.form-box input, .form-box select{
  color: #555555;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  padding: 0 9px;
  border-radius: 3px;
  border: none;
  outline: none;
  height: 36px;
  margin-bottom: 10px;
}

.input-100, .fields{
  width: 100%;
}

.fields > select{
  width: 10%;
  border-radius: 3px 0px 0px 3px;
  border-right: 1px solid #969696;
}

.fields > input {
  width: 85%;
  border-radius: 0px 3px 3px 0px;
}

.policies{
  display: flex;
  align-items: center;
  gap: 10px;
  color: #969696;
  font-weight: 500;
  font-size: 16px;
  margin-top: 10px;
}

.policies > input{
  margin: 0;
}

#mensagem{
  min-height: 70px;
  max-height: 200px;
  width: 100%;
  text-align:start;
  padding: 8px 6px;
  border: none;
  outline: none;
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  color: #555555;
  border-radius: 3px;
  resize: vertical;
}

p{
  color: #969696;
  margin: 8px 0 20px 0;
}

p> a{
  color: #e9e9e9;
}

.form-box input[type=submit]{
  width: 100%;
  display: flex;
  align-items: center;
  background-color: #ed1c91;
  color: #fff;
  font-weight: bold;
  justify-content: center;
  text-transform: uppercase;
  padding: 30px 0;
  cursor: pointer;
}

.form-box input[type=submit]:hover{
  background-color: #cb197e;
}

.span{
  color: #969696;
  font-size: 14px;
}

input[type=tel]{
  width: 100%;
}

.validation-error p{
  color: #db1a2d;
  margin-top: .4em;
  font-size: 13px;
  padding-left: 0.2em;
  border-left: 3px solid #db1a2d;
}

@media only screen and (max-width: 960px){
  .form-box{
    width: 60%;
  }

  .policies{
    margin: 20px 0;
  }
}

@media only screen and (max-width: 550px){
  .form-box{
    width: 85%;
  }

  .policies{
    margin: 20px 0;
  }

}