<div class="box">
    <form action="">
      <fieldset>
        
        <div class="input">
            <label for="nome">Nome</label><br>
            <input type="text" required id="nome">
        </div><br>

        <div class="input">
          <label for="email">Email</label><br>
          <input type="email" required id="email">
        </div><br>

        <div class="input">
          <label for="empresa">Empresa</label><br>
          <input type="text" required id="empresa">
        </div><br>

        <div class="checkbox">
          <label for="cargo">Cargo</label><br>
          <select name="cargo" id="cargo" required>
            <option value="" selected disabled>Selecione</option>
            <option value="analista">Analista</option>
            <option value="assistente">Assistente</option>
            <option value="ceo">CEO</option>
            <option value="coordenador">Coordenador</option>
            <option value="diretor">Diretor</option>
            <option value="gerente">Gerente</option>
            <option value="outro">Outro</option>
          </select>
        </div><br>

        <div class="checkbox">
          <label for="departamento">Departamento</label><br>
          <select name="departamento" id="departamento" required>
            <option value="" selected disabled>Selecione</option>
            <option value="marketing">Marketing</option>
            <option value="vendas">Vendas</option>
            <option value="ti">TI</option>
            <option value="compras">Compras</option>
            <option value="outro">Outro</option>
          </select>
        </div><br>

        <div class="checkbox">
          <label for="num-de-funcionarios">Número de funcionários</label><br>
          <select name="num-de-funcionarios" id="num-de-funcionarios" required>
            <option value="" selected disabled>Selecione</option>
            <option value="ate-20">Até 20</option>
            <option value="20-50">Entre 20 e 50</option>
            <option value="50-200">Entre 50 e 200</option>
            <option value="200-1000">Entre 200 a 1000</option>
            <option value="mais-de-1000">Mais de 1000</option>
          </select>
        </div><br>

        <div id="telefone">
          <label for="telefone">Telefone</label><br>
          <select name="pais" id="pais"></select>
          <input type="tel" required>
        </div><br>

        <div class="input">
          <label for="mensagem">Mensagem</label><br>
          <input type="text" required>
        </div><br>

        <input type="checkbox" class="checkbox"> Eu concordo em receber comunicações.<br>
       
        <p>Ao informar meus dados, eu concordo com a <a href="http://www.google.com" target="_blank">Política de Privacidade</a>.</p><br>

        <input type="submit" id="btn-submit" value="Enviar"><br>

        <span>Prometemos não utilizar suas informações de contato para enviar qualquer tipo de SPAM.</span><br>

      </fieldset>
    </form>
  </div>

