<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  <div class="container">
    <div class="main-title">
        <h1>Buscador</h1>
    </div>
    <div class="main-content">
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fugit, distinctio soluta? Necessitatibus ut minima sequi laudantium. Nihil iure voluptatem sapiente quis eos excepturi earum odit est. Adipisci dignissimos aliquid veritatis?</p>
    </div>
    <div class="second-container">
        <div class="main-illustration">
            <img src="assets/engineicons/icon_buscador.png">
        </div>
        <div class="btn-test">
            <a routerLink="/engine-test" class="btn">Teste Agora</a>
        </div>
        <div class="txt-or">
            <span>ou</span>
        </div>
        <div class="btn-buy">
            <a class="btn">Adquira já</a>
        </div>
    </div>
  </div>
  <div class="footer">
    <app-footer></app-footer>
</div> 
</body>