<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<header class="header" >

  <nav id="navbar" (clickOutside)="closeMenu()" >

    <a  routerLink="" (click)="closeMenu()"><img data-aos="fade-down"
      data-aos-duration="3200" id="logo" src="../../../assets/logo.png"></a>

    <button id="btn-mobile" (click)="toggleMenu()" > Menu <span id="burger"></span></button>

      <ul class="list">

        <li class="item"><a routerLink="/sobre" (click)="closeMenu()">Sobre nós</a></li>

        <li id="drop"><a>Produtos</a>
          <ul class="dropdown">
            <li class="menu-dropdown-item"><a routerLink="/first-engine">Conversor de Imagem/PDF</a></li>
            <li class="menu-dropdown-item"><a routerLink="/second-engine">Comparador de Documentos</a></li>
            <li class="menu-dropdown-item"><a routerLink="/third-engine">Buscador</a></li>
            <li class="menu-dropdown-item"><a routerLink="/fourth-engine">OCR</a></li>
          </ul>
        </li> <!-- drop -->

        <li id="responsivo"><a (click)="toggleDropdown()">Produtos</a>
          <ul>
            <li class="menu-dropdown-resp"><a routerLink="/first-engine" (click)="closeMenu()">Conversor de Imagem/PDF</a></li>
            <li class="menu-dropdown-resp"><a routerLink="/second-engine" (click)="closeMenu()">Comparador de Documentos</a></li>
            <li class="menu-dropdown-resp"><a routerLink="/third-engine" (click)="closeMenu()">Buscador</a></li>
            <li class="menu-dropdown-resp"><a routerLink="/fourth-engine" (click)="closeMenu()">OCR</a></li>
          </ul>
        </li> <!-- drop -->

        <li class="item"><a routerLink="/plans" (click)="closeMenu()">Planos</a></li>

        <li class="item" id="login"><a routerLink="/login" (click)="closeMenu()">Entre</a></li>
      </ul> <!-- list -->

    </nav>

</header>