*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#logo{
  max-width: 155px;
  max-height: 170px;
}

#navbar{
  display: flex;
  max-height: 8vh;
  background-color: black;
  align-items: center;
  justify-content: space-between;
  padding: 10px 25px;
  position: fixed;
  width: 100%;
  font-family: 'Poppins', sans-serif;
}

.list{
  display: flex;
  list-style: none;
}

.item{
  margin-left: 30px;
}

.item a{
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  display: block;
  font-size: 15px;
  padding: 10px 5px;
  text-transform: uppercase;
  position: relative;
}

#login a{
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  display: block;
  font-size: 15px;
  padding: 10px 25px;
  text-transform: uppercase;
  position: relative;
  margin-left: 30px;
  background: #eb4d9f;
  border-radius: 5px;
}

#login a:hover{
  background-color: #DE338B;
}

#btn-mobile{
  display: none;
}

.item a:after {
  content: "";
  position: absolute;
  width: 0%;
  height: 1px;
  display: block;
  transition: all 0.3s ease;
  bottom: 10%;
}

.item a:hover::after{
  width: 90%;
  height: 2px;
  background-color: #E04392;
}



@media screen and (max-width: 768px){

  .item{
    padding: 0;
    margin: 0;
  }

  #login a{
    margin: 0px;
  }

  .list{
    display:flex;
    position: absolute;
    width: 30%;
    height: 0px;
    top: 7vh;
    background-color: black;
    flex-direction: column;
    right: 0;
    align-items: center;
    justify-content: space-around;
    transition: .3s;
    visibility: hidden;
    overflow-y: hidden;
  }

  #navbar.active .list {
    visibility: visible;
    height: 38vh;
    overflow-y: auto;
  }

  #btn-mobile{
    display:flex;
    padding: .5rem 1rem;
    font-size: 1rem;
    border: none;
    background: none;
    cursor: pointer;
    color: white;
    gap: .7rem;
  }

  #burger{
    width: 20px;
    border-top: 3px solid;
    display: block;
  }

  #burger::after, #burger::before{
    content: '';
    display: block;
    width: 20px;
    height: 2px;
    background: white;
    margin-top: 5px;
    transition: .3s;
    position: relative;
  }

  #navbar.active #burger{
    border-top-color: transparent;
  }

  #navbar.active #burger::before{
    transform: rotate(135deg);
  }

  #navbar.active #burger::after{
    transform: rotate(-135deg);
    top: -7px;
  }
}