

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#logo{
  max-width: 155px;
  max-height: 170px;
}

/* .dropdown{
  display: none;
} */

#btn-mobile{
  display: none;
}

#responsivo{
  display: none;
}

#navbar{
  background-color: #0a0a0a;
  display: flex;
  width: 100%;
  z-index: 1000;
  position: fixed;
  justify-content: space-between;
  padding: 10px 5%;
  align-items: center;
  height: 8vh;
  font-family: 'Poppins', sans-serif;
}

.list{
  width: 47%;
  display: flex;
  justify-content: space-between;
}

.list > li{
  align-items: center;
  list-style: none;
}

.list > li> a{
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 15px;
  padding: 15px 15px;
  width: fit-content;
  position: relative;
}

#login a{
  background-color: #cf006b;
  border-radius: 5px;
  padding: 8px 22px;
}

#login a:hover{
  background-color: #a00053;
}

.list > li:not(:last-child) > a:after{
  content: "";
  position: absolute;
  width: 0%;
  height: 1px;
  display: block;
  transition: all 0.3s ease;
  bottom: 20%;
  left: 10%;
}

.list > li:not(:last-child) > a:hover::after{
    width: 80%;
    height: 2px;
    background-color: #cf006b;
}

#drop{
  position: relative;
  cursor: pointer;
}

.dropdown{
  position: absolute;
  top: calc(100% + 15px);
  left: 0;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s 200ms ease-in-out;
  pointer-events: none;
  background-color: rgb(10, 10, 10, 0.9);
  width: 280px;
  border-radius: 3px;
}

.dropdown > li{
  list-style: none;
  display: flex;
  flex-direction: column;
  line-height: 30px;
  padding: 5px 10px;
}

.dropdown > li > a {
  color: #fff;
  text-decoration: none;
  position: relative;
  width: fit-content;
}

.dropdown > li:last-child > a{
  margin-bottom: 4px;
}

.dropdown > li > a:after{
  content: "";
  position: absolute;
  width: 0%;
  height: 1px;
  display: block;
  transition: all 0.1s ease;
  bottom: 10%;
}

.dropdown > li > a:hover::after{
  width: 100%;
  height: 2px;
  background-color: #cf006b;
}

#drop:hover > .dropdown{
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

@media only screen and (max-width: 960px){

  #drop{
    display: none;
  }

  #responsivo{
    display: block;
  }

  #responsivo > ul{
    display: none;
    transition: all .3s;
  }

  .list {
    background-color: #0a0a0a;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    top: 7vh;
    right: 0;
    height: 0px;
    transition: .3s;
    visibility: hidden;
    overflow-y: hidden;
    overflow-x: hidden;
  }

  #navbar.active > .list {
    visibility: visible;
    height: 38vh;
    max-height: fit-content;
    top: 100%;
    overflow-y: hidden;
    overflow-x: hidden;
  }

  #btn-mobile{
    display:flex;
    padding: .5rem 1rem;
    font-size: 1rem;
    border: none;
    background: none;
    cursor: pointer;
    color: white;
    gap: .7rem;
  }

  #burger{
    width: 20px;
    border-top: 2.5px solid;
    display: block;
  }

  #burger::after, #burger::before{
    content: '';
    display: block;
    width: 20px;
    height: 2px;
    background: white;
    margin-top: 5px;
    transition: .3s;
    position: relative;
  }

  #navbar.active #burger{
    border-top-color: transparent;
  }

  #navbar.active #burger::before{
    transform: rotate(135deg);
  }

  #navbar.active #burger::after{
    transform: rotate(-135deg);
    top: -7px;
  }

  #navbar.drop #responsivo {
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
  }

  #navbar.drop #responsivo > ul{
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: rgb(20, 20, 20, 0.6);
    border: solid 1px rgba(20, 20, 20, 0.9);
  }

  #navbar.drop #responsivo ul a{
    color: #fff;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 50px;
  }

  #navbar.drop .list{
    height: 54vh;
  }

}