* {
  padding: 0;
  margin: 0; 
}
.about-us-container {
  display: grid;
  grid-template-areas: "main-title main-title"
                       "first-img first-content "
                       "second-content second-img"
                       "contact contact"
                       "footer footer";
  grid-template-columns: 1fr 1fr;
  grid-gap: 5%;
  margin-left: 15%;
  margin-right: 15%;
  color: white;
  }
.main-title{
  grid-area: main-title;
  height: 2%;
  padding-top: 10%;
  justify-self: center;
}
.main-title h1{ 
  text-align: center;
  color: white;
  font-size: 45px;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
}
img{
  height: 461px;
  width: 570px;
}
.first-img{
  grid-area: first-img;
}
.first-content{
  grid-area: first-content;
  align-self: center;
  
}
.text-title{
  font-weight: bold;
  color: white;
  font-size: 45px;
  font-family: 'Poppins', sans-serif;
}
.txt{
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
}
.second-content{
  grid-area: second-content;
  align-self: center;
  
}
.second-img{
  text-align: right;
  grid-area: second-img;
}
.contact{
  grid-area: contact;
}
.footer{
  grid-area: footer;
  margin-top: 400px;
}
.first-content p{
  line-height: 23px;
  letter-spacing: 0.3px;
}
.second-content p {
  line-height: 23px;
  letter-spacing: 0.3px;
}

@media only screen and (max-width: 1401px){
  .about-us-container{
    justify-self: center;
    margin-left: 5%;
    margin-right: 5%;
  }
  .main-title{
    grid-area: main-title;
    height: 2%;
    padding-top: 10%;
  }
  .main-title h1{ 
    text-align: center;
    color: white;
    font-size: 40px;
    font-family: 'Poppins', sans-serif;
  }
  img{
    height: 400px;
    width: 500px;
  }
  .first-img{
    grid-area: first-img;
  }
  .first-content{
    grid-area: first-content;
  }
  .text-title{
    color: white;
    font-size: 26px;
    font-family: 'Poppins', sans-serif;
  }
  .txt{
    margin-top: 5%;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
  }
  .second-content{
    grid-area: second-content;
  }
  .second-img{
    align-self: end;
    grid-area: second-img;
  }
  .contact{
    grid-area: contact;
    margin-top: 5%;
  }
  .footer{
    padding-top: 150px;
  }
}
@media only screen and (max-width: 1025px) {
  .about-us-container{
    margin: auto 3%;
    grid-column-gap: 1%;
  }
  img{
    width: 440px;
    height: 310px;
  }
  .contact{
    margin-top: 15%;
  }
}
@media only screen and (max-width: 835px) {
  .about-us-container{
    grid-template-areas: "main-title" "first-img" "first-content" "second-img" "second-content" "contact";
    grid-template-columns: 1fr;
    grid-gap: 2%;
    grid-row-gap: 6%;
    justify-items: center;
    margin: 0%;
  }
  img{
    width: 680px;
    height: 420px;
  }
  .first-content{
    justify-items: center;
    margin-left: 2%;
  }
  .second-content{
    justify-items: center;
    margin-left: 2%;
  }
  .contact{
    margin-top: 55%;
    margin-bottom: 400px;
  }

}
@media only screen and (max-width: 470px){
  .about-us-container{
    justify-content: center;
    margin: 0;
  }
  .main-title{
    padding-top: 20%;
  }
  img{
    width: 390px;
    height: 210px;
  }
  .contact{
    grid-area: contact;
    margin-top: 10%;
  }
  .first-content{
    margin-left: 5%;
  }
  .second-content{
    margin-left: 5%;
  }
}
@media only screen and (max-width: 398px){
  .about-us-container{
    justify-content: center;
    justify-items: center;
    margin-left: 0;
    margin-right: 0;
  }
  .main-title h1{ 
    text-align: center;
    color: white;
    font-size: 30px;
    font-family: 'Poppins', sans-serif;
  }
  .text-title{
    color: white;
    font-size: 30px;
    font-family: 'Poppins', sans-serif;
  }
  .txt{
    font-size: 12px;
    font-family: 'Poppins', sans-serif;
  }
  img{
    width: 310px;
    height: 210px;
  }
  .first-content{
    margin: 2%;
    margin-left: 5%;
    justify-self: center;
  }
  .second-content{
    margin: 2%;
    margin-left: 5%;
    justify-self: center;
  }
  .contact{
    margin-top: 20%;
  }
}