<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Sobre a Di2win : A digital Twin esta em nosso DNA!</title>
      </head>
<body>
    <div class="about-us-container"> 
        <div class="main-title">
            <h1 data-aos="fade-up"
            data-aos-duration="3000"  >Sobre a Di2win</h1>
        </div>
        <div data-aos="fade-up" data-aos-duration="2000"><img src="../../../assets/about_images/02.png" alt="imgWorld"></div>
        <div class="first-content">
            <h1 data-aos="fade-up"
            data-aos-duration="3000"  class="text-title">Digital Twin está em nosso DNA</h1>
            <p data-aos="fade-up"
            data-aos-duration="3000"  class="txt">Somos um grupo de pessoas com conhecimentos e experiências complementares. 
            São 15 anos inovando e construindo nossa história, desenvolvendo uma tecnologia robusta que, hoje,é amplamente reconhecida por seus benefícios.</p>
        </div> 
        <div class="second-content">
            <h1 data-aos="fade-up"
            data-aos-duration="3000"  class="text-title">Transformando o presente, pensando no futuro.</h1>
            <p data-aos="fade-up"
            data-aos-duration="3000"  class="txt">Após uma grande jornada geramos inúmeros produtos desenvolvidos em Deep Learning, Artificial Intelligence, Business Intelligence, Process e Robotic Automation.
            A melhor experiência digital do usuário se tornou elemento fundamental da conquista, atendimento e manutenção dos negócios. E nós seguimos aprimorando nossos conhecimentos, sempre em busca da excelência.</p>
        </div> 
        <div class="second-img"><img data-aos="fade-up" data-aos-duration="2000"src="../../../assets/about_images/01.png" alt="imgMap"></div>
        
        <div class="contact" data-aos="fade-down"
        data-aos-easing="linear"
        data-aos-duration="1500">
            <app-contact></app-contact>
        </div>
    </div>
    <div class="footer">
        <app-footer></app-footer>
    </div>  
</body>
</html>