<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recuperar Senha</title>
  </head>
  
  <body>
  
    <div class="container">
  
      <div class="left-side">
        <h2>DI2WIN SOBRE</h2>
        <p>Nós da Di2win acreditamos que Transformação Digital não é a pura e simples adoção de novas tecnologias, 
          mas sim a incorporação delas no modelo de negócio, fazendo assim uma revolução na forma de atender a seus clientes internos e externos.</p>
          <p>
            Ligados ao mundo digital por nossa essência, desenvolvemos produtos,  projetos e estudos acadêmicos nas áreas de Digital Twin, Automação de Processos, Tratamento de Imagens, OCR, Inteligência Artificial, Deep Learning, Business Intelligence,  e RPA.
          </p>
      </div>
  
      <div class="right-side">
  
        <div class="box">
  
          <h2>Esqueceu sua senha?</h2>
  
          <div class="input">
            <label for="email">Digite o e-mail atrelado a sua conta</label>
            <input type="email" id="email" name="email" placeholder="E-mail">
          </div>
  
          <div class="btn">
            <input id="submit" type="submit" name="enviar" value="Enviar">
          </div>
  
        </div>
  
        <div class="sign-in">
          <span>Já tem uma conta? <a routerLink="/login">Entre</a></span>
        </div>
  
        <div class="sign-up">
          <span>Não tem conta? <a routerLink="/registration">Cadastre-se</a></span>
        </div>
  
      </div>
  
    </div>
  
  </body>
