<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Poppins&family=Roboto&display=swap" rel="stylesheet">
  </head>
  
  <body>
  
    <div class="container">
  
      <div class="left-side">
        <h2>Conteúdo</h2>
        <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. In pellentesque aliquet ante id consequat. Interdum et malesuada fames ac ante ipsum primis in faucibus. Curabitur aliquam urna vitae enim ultrices, eu euismod eros dictum. Nulla tincidunt ex non nisl congue, vel sollicitudin mauris consectetur. Vivamus placerat sem vel auctor consequat. Fusce id eros ligula. Aenean eget mattis eros. Nunc hendrerit, metus a maximus tristique, lorem lorem pharetra dui, sed gravida sapien lectus a sapien. Vivamus vitae quam ut ligula sodales consectetur vitae at tellus. Integer pretium tempor tellus sodales luctus.<br><br>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. In pellentesque aliquet ante id consequat. Interdum et malesuada fames ac ante ipsum primis in faucibus. Curabitur aliquam urna vitae enim ultrices, eu euismod eros dictum. Nulla tincidunt ex non nisl congue, vel sollicitudin mauris consectetur. Vivamus placerat sem vel auctor consequat. Fusce id eros ligula. Aenean eget mattis eros. Nunc hendrerit, metus a maximus tristique, lorem lorem pharetra dui, sed gravida sapien lectus a sapien. Vivamus vitae quam ut ligula sodales consectetur vitae at tellus. Integer pretium tempor tellus sodales luctus.</p>
      </div>
  
      <div class="right-side">
  
        <div class="box">
  
          <h2>Esqueceu sua senha?</h2>
  
          <div class="input">
            <label for="email">Digite o e-mail atrelado a sua conta</label>
            <input type="email" id="email" name="email" placeholder="E-mail">
          </div>
  
          <div class="btn">
            <input id="submit" type="submit" name="enviar" value="Enviar">
          </div>
  
        </div>
  
        <div class="sign-in">
          <span>Já tem uma conta? <a routerLink="/login">Entre</a></span>
        </div>
  
        <div class="sign-up">
          <span>Não tem conta? <a routerLink="/registration">Cadastre-se</a></span>
        </div>
  
      </div>
  
    </div>
  
  </body>
