<head>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&family=Roboto&display=swap" rel="stylesheet">
</head>
<body>
<div class="container">
    <div class="main-title">
        <h1>Comparador de Documentos</h1>
    </div>
    <div class="main-content">
        <p>Lorem ipsum dolo, sit amet consectetur adipisicing elit. Fugit, distinctio soluta? Necessitatibus ut minima sequi laudantium. Nihil iure voluptatem sapiente quis eos excepturi earum odit est. Adipisci dignissimos aliquid veritatis?</p>
    </div>
    <div class="second-container">
        <div class="main-illustration">
            <img src="assets/engineicons/comparador2.png">
        </div>
        <div class="btn-test">
            <a class="btn" (click)="scroll();">Teste Agora</a>
        </div>
        <div class="txt-or">
            <span>ou</span>
        </div>
        <div class="btn-buy">
            <a routerLink="/planos" class="btn">Adquira já</a>
        </div>
    </div>
</div>
<div class="engine-test" id="target">
    <app-engine-test></app-engine-test>
</div>
<div class="footer">
    <app-footer></app-footer>
</div> 
</body>
