<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div class="container">
    <h1>Escolha o seu plano</h1>
    <div class="planos">
      <div class="micro">
        <h3>Microempresas</h3>
        <div class="info">
          <p>Vantagem 1</p>
          <p>Vantagem 2</p>
          <p>Vantagem 3</p>
        </div>
        <div class="buy">
          <span>R$ 00,00</span>
          <button>Comprar</button>
        </div>
      </div>
      <div class="small">
        <h3>Pequenas empresas</h3>
        <div class="info">
          <p>Vantagem 1</p>
          <p>Vantagem 2</p>
          <p>Vantagem 3</p>
        </div>
        <div class="buy">
          <span>R$ 00,00</span>
          <button>Comprar</button>
        </div>
      </div>
      <div class="medium">
        <h3>Médias empresas</h3>
        <div class="info">
          <p>Vantagem 1</p>
          <p>Vantagem 2</p>
          <p>Vantagem 3</p>
        </div>
        <div class="buy">
          <span>R$ 00,00</span>
          <button>Comprar</button>
        </div>
      </div>
      <div class="large">
        <h3>Grandes empresas</h3>
        <div class="info">
          <p>Vantagem 1</p>
          <p>Vantagem 2</p>
          <p>Vantagem 3</p>
        </div>
        <div class="buy">
          <span>R$ 00,00</span>
          <button>Comprar</button>
        </div>
      </div>
    </div>
  </div>
</body>
</html>