<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Engines D2win : OCR!</title>
</head>
<body>
  <div class="container">
    <div class="main-title">
        <h1 data-aos="fade-up" data-aos-duration="3000">OCR</h1>
    </div>
    <div class="main-content">
      <p data-aos="fade-up" data-aos-duration="2000">Suponha que você queira digitalizar um documento para facilitar a digitação, ou mesmo usar as informações de um contrato já impresso como base para um novo documento ou cadastro. É provável, ainda, que você gaste muito tempo conferindo nomes ou informações nos documentos impressos para inserir em um sistema interno. Então, se não quer perder mais tempo, utilize já a ferramenta OCR e agilize os processos em sua empresa.</p>
    </div>
    <div class="main-illustration">
        <img data-aos="fade-up" data-aos-duration="2000" src="assets/engineicons/OCR_illustration.png">
    </div>
    <div data-aos="fade-up" data-aos-duration="2000" class="btns">
        <div class="btn-test">
            <a class="btn" (click)="scroll();">Teste</a>
        </div>
        <div class="txt-or">
            <span>ou</span>
        </div>
        <div class="btn-buy">
            <a routerLink="/plans" class="btn">Adquira já</a>
        </div>
    </div>
  </div>
  <div class="engine-test" id="target">
    <app-engine-test></app-engine-test>
</div>
  <div class="footer">
    <app-footer></app-footer>
</div> 
</body>
