*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    color: #fff;
}
.container{
    display: grid;
    grid-template-areas: "main-title"
                         "file-input";
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 4fr;
    height: 85vh;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 4%;
}
.main-title{
    padding-top: 10%;
    grid-area: main-title;
}
.main-title h1{
    font-size: 50px;
    text-align: center;
    font-weight: bold;
}

.file-input{
    grid-area: file-input;
    margin-top: 10%;
    margin-left: 15%;
    margin-right: 15%;
}
img{
    width: 16%;
    margin-top: 12%;
}
.archive-upload{
    cursor: pointer;
    display: block;
    font-size: 36px;
    border: 5px dashed #E04392;
    border-radius: 26px;
    padding-bottom: 12%;
    text-align: center;
    background-color: #0b0c10;

}
#archive-test{
    display:none;
}
@media only screen and (max-width: 799px){
    .container{
        margin-left: 5%;
        margin-right: 5%;
    }
    .file-input{
        margin-top: 20%;
    }
    .main-title{
        padding-top: 25%;
    }
    .main-title h1{
        font-size: 32px;
    }
    .upload-text{
        font-size: 18px;
    }
    img{
        width: 16%;
        margin-top: 14%;
    }
    .archive-upload{
        padding-bottom: 14%;
    }

    .main-title h1{
        font-size: 36px;
    }
}