<head>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&family=Roboto&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container">
        <div class="main-title">
            <h1>Envie o seu arquivo de imagem</h1>
        </div>
        <div class="file-input">
            <label for="archive-test" class="archive-upload">
                <img src="assets/engineicons/upload.png">
                <p class="teste">Clique aqui</p>
            </label>
            <input type="file" id="archive-test">
        </div>
    </div>
</body>
