<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
<body>
    <div class="container">
        <div class="main-title" data-aos="fade-down"
        data-aos-easing="linear"
        data-aos-duration="1500">
            <h1>Envie o seu arquivo de imagem</h1>
        </div>
        <div class="file-input" data-aos="fade-down"
        data-aos-easing="linear"
        data-aos-duration="1500">
            <label for="archive-test" class="archive-upload">
                <img src="assets/engineicons/upload.png">
                <p class="teste">Clique aqui</p>
            </label>
            <input type="file" id="archive-test">
        </div>
    </div>
</body>
