*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
a{
    text-decoration: none;
    color: white; /*cards adjusts, taking off the blue color of the font*/
}
a:visited{
color: white; /*cards adjusts, taking off the blue color of the font*/
}
img{
    width: 110px;
    height: 110px;
}
.container{
    padding-top: 10%; /* Important, this padding separate the container and the navbar*/
    color: white;
    margin-left: 10%;
    margin-right: 10%;
}
.main-title h1{
    text-align: center;
    color: white;
    font-weight: bold;
    font-size: 58px;
}
.main-content p{
    padding-top: 5%;
    font-size: 16px;
    text-align: center;
    line-height: 23px;
    letter-spacing: 0.3px;
}
.engines{
    display: grid;
    grid-template-areas: "engine-1 engine-2 engine-3 engine-4";
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-top: 5%;
    grid-gap: 5%;
    width: 100%;
    height: 60%;
}
.engine-title h1{
    font-size: 27px;
    font-weight: bold;
}
.engine-content p{
    font-size: 16px;
}
.engine-1{
    background: #1D1D1D;
    grid-area: engine-1;
    border: 1px solid #F063A6;
    border-radius: 3%;
    display: grid;
    grid-template-areas: "engine-image " 
                         "engine-title"
                         "engine-content";
    grid-template-columns: 1fr;
    height: 70%;

}
.engine-1:hover{
    box-shadow: 0 0 10px #e6589c, 0 0 15px #F063A6, 0 0 30px #f770b1;
    transition: .5s;
}
.engine-2{
    background: #1D1D1D;
    grid-area: engine-2;
    border: 1px solid #F063A6;
    border-radius: 3%;
    display: grid;
    grid-template-areas: "engine-image " 
                         "engine-title"
                         "engine-content";
    grid-template-columns: 1fr;
    height: 70%;
}
.engine-2:hover{
    box-shadow: 0 0 10px #e6589c, 0 0 15px #F063A6, 0 0 30px #f770b1;
    transition: .5s;
}
.engine-3{
    background: #1D1D1D;
    grid-area: engine-3;
    border: 1px solid #F063A6;
    border-radius: 3%;
    display: grid;
    grid-template-areas: "engine-image " 
                         "engine-title"
                         "engine-content";
    grid-template-columns: 1fr;
    height: 70%;
}
.engine-3:hover{
    box-shadow: 0 0 10px #e6589c, 0 0 15px #F063A6, 0 0 30px #f770b1;
    transition: .5s;
}
.engine-4{
    background: #1D1D1D;
    grid-area: engine-4;
    border: 1px solid #F063A6;
    border-radius: 3%;
    display: grid;
    grid-template-areas: "engine-image " 
                         "engine-title"
                         "engine-content";
    grid-template-columns: 1fr;
    height: 70%;
}
.engine-4:hover{
    box-shadow: 0 0 10px #e6589c, 0 0 15px #F063A6, 0 0 30px #f770b1;
    transition: .5s;
}
.engine-image{
    grid-area: engine-title;
    justify-self: center;
    align-self: center;
}
.engine-title{
    grid-area: engine-image;
    justify-self: center;
    text-align: center;
    align-self: center;
}
.engine-content{
    align-self: center;
    text-align: center;
    grid-area: engine-content;
    margin: auto 10%;

}
@media only screen and (max-width: 1450px){
    .container{
        margin-left: 5%;
        margin-right: 5%;
    }
    .engine-content p{
        font-size: 14px;
    }

}
@media only screen and (max-width: 1176px){
    .engine-1{
        height: 85%;
    }
    .engine-2{
        height: 85%;
    }
    .engine-3{
        height: 85%;
    }
    .engine-4{
        height: 85%;
    }
}
@media only screen and (max-width: 835px){
    .container{
        margin-left: 5%;
        margin-right: 5%;
        padding-top: 20%;
    }
    .engines{
        grid-template-areas: "engine-1" "engine-2" "engine-3" "engine-4";
        grid-template-columns: 1fr;
        width: 100%;
        height: 200%;
        grid-row-gap: 0%;
    }
    .main-title h1{
        font-size: 36px;
        padding-bottom: 10%;
    }

    .main-content p{
        font-size: 14px;
    }

    .main-content{
        margin-bottom: 80px;
    }
}