<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portal de Engines: Di2win</title>
  </head>
<div class="container">
    <div class="main-title">
        <h1 data-aos="fade-up" data-aos-duration="2000" >Conheça um mundo digital</h1>
    </div>
    <div class="main-content">
        <p>Componentes com as melhores taxas de reconhecimento e extração da informação no mercado, totalmente desenvolvidos pela equipe mais experiente em Inteligência Artificial aplicada e automação da América Latina.</p>
    </div>

        <!-- engines section -->
        <div class="engines" >
            <!-- editable text engine section -->
            <a data-aos="flip-left"
            data-aos-easing="ease-out-cubic"
            data-aos-duration="2000" routerLink="/first-engine" class="engine-1">
                <div class="engine-image">
                    <img src="assets/engineicons/converter.png" alt="">
                </div>     
                <div class="engine-title">
                    <h1>Conversor de imagem/PDF</h1>
                </div>
                <div class="engine-content">
                    <p>Transforme imagens em PDFs para poder editar os textos.</p>
                </div>     
            </a>
            <!-- end of editable text engine section -->

            <!-- document comparator section -->
            <a data-aos="flip-left"
            data-aos-easing="ease-out-cubic"
            data-aos-duration="2000" routerLink="/second-engine" class="engine-2">
                <div class="engine-image">
                    <img src="assets/engineicons/comparador.png" alt="">
                </div>     
                <div class="engine-title">
                    <h1>Comparador de Documentos</h1>
                </div>
                <div class="engine-content">
                    <p>Compare conteúdo dentro de documentos para encontrar divergências entre eles.</p>
                </div>
            </a>
            <!--  enf of document comparator section -->

            <!-- search engine section -->
            <a data-aos="flip-left"
            data-aos-easing="ease-out-cubic"
            data-aos-duration="2000" routerLink="/third-engine" class="engine-3">
                <div class="engine-image">
                    <img src="assets/engineicons/buscador.png" alt="">
                </div>     
                <div class="engine-title">
                    <h1>Buscador</h1>
                </div>
                <div class="engine-content">
                    <p>Encontre informações específicas dentro de tipos diferentes de documentos.</p>
                </div>
            </a>
            <!-- end of search engine section -->

            <!-- OCR engine section -->
            <a data-aos="flip-left"
            data-aos-easing="ease-out-cubic"
            data-aos-duration="2000" routerLink="/fourth-engine" class="engine-4">
                <div class="engine-image">
                    <img src="assets/engineicons/OCR.png" alt="">
                </div>     
                <div class="engine-title">
                    <h1>OCR</h1>
                </div>
                <div class="engine-content">
                    <p>Faça a extração automatizada de dados de documentos como notas fiscais e carteiras de habilitação.</p>
                </div>
            </a>
            <!-- end of OCR engine section -->

        </div>
        <!-- end of engine section -->
</div>

<app-footer></app-footer>