<head>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&family=Roboto&display=swap" rel="stylesheet">
</head>
<div class="container">
    <div class="main-title">
        <h1>Conheça um mundo digital</h1>
    </div>
    <div class="main-content">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas consectetur odio quis eros vulputate, non pharetra ipsum consectetur. Quisque malesuada, nibh sit amet vestibulum ullamcorper, augue lorem fringilla justo, vitae pellentesque sapien arcu in mauris. Aenean lobortis quam id elit aliquam, sit amet tincidunt leo lobortis. Fusce ac tempus augue, at cursus nunc. Pellentesque eu sapien tellus. Integer rhoncus efficitur volutpat. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Sed a justo magna. Etiam tristique nibh at ultricies vehicula. Nam et magna cursus, hendrerit augue in, volutpat erat.</p>
    </div>
    <div class="engines">
        <div class="engine-1">
            <div class="engine-image">
                <img src="assets/engineicons/buscador.png" alt="">
            </div>     
            <div class="engine-title">
                <h1>Conversor <br> de imagem/PDF</h1>
            </div>
            <div class="engine-content">
                <p>Suspendisse cursus fringilla luctus. Aliquam molestie dui sed nunc semper, facilisis mollis neque vulputate. Aliquam rhoncus vel mi sed imperdiet. Mauris accumsan purus vel arcu porta pulvinar.</p>
            </div>
            <div class="engine-btn">
                <button class="btn" id="btn-engine-1">Saiba mais</button>
            </div>       
        </div>

        <div class="engine-2">
            <div class="engine-image">
                <img src="assets/engineicons/comparador.png" alt="">
            </div>     
            <div class="engine-title">
                <h1>Comparador de Documentos</h1>
            </div>
            <div class="engine-content">
                <p>Suspendisse cursus fringilla luctus. Aliquam molestie dui sed nunc semper, facilisis mollis neque vulputate. Aliquam rhoncus vel mi sed imperdiet. Mauris accumsan purus vel arcu porta pulvinar.</p>
            </div>
            <div class="engine-btn">
                <button class="btn" id="btn-engine-2">Saiba mais</button>
            </div> 
        </div>

        <div class="engine-3">
            <div class="engine-image">
                <img src="assets/engineicons/converter.png" alt="">
            </div>     
            <div class="engine-title">
                <h1>Buscador</h1>
            </div>
            <div class="engine-content">
                <p>Suspendisse cursus fringilla luctus. Aliquam molestie dui sed nunc semper, facilisis mollis neque vulputate. Aliquam rhoncus vel mi sed imperdiet. Mauris accumsan purus vel arcu porta pulvinar.</p>
            </div>
            <div class="engine-btn">
                <button class="btn" id="btn-engine-3">Saiba mais</button>
            </div> 
        </div>

        <div class="engine-4">
            <div class="engine-image">
                <img src="assets/engineicons/OCR.png" alt="">
            </div>     
            <div class="engine-title">
                <h1>OCR</h1>
            </div>
            <div class="engine-content">
                <p>Suspendisse cursus fringilla luctus. Aliquam molestie dui sed nunc semper, facilisis mollis neque vulputate. Aliquam rhoncus vel mi sed imperdiet. Mauris accumsan purus vel arcu porta pulvinar.</p>
            </div>
            <div class="engine-btn">
                <button class="btn" id="btn-engine-4">Saiba mais</button>
            </div> 
        </div>
    </div>
</div>