*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
a{
    text-decoration: none;
}
a:visited{
color: white;
}
img{
    width: 110px;
    height: 110px;
}
.container{
    padding-top: 10%;
    color: white;
    margin-left: 10%;
    margin-right: 10%;
}
.main-title h1{
    text-align: center;
    color: white;
    font-size: 45px;
}
.main-content p{
    padding-top: 5%;
    font-size: 16px;
}
.engines{
    display: grid;
    grid-template-areas: "engine-1 engine-2 engine-3 engine-4";
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-top: 5%;
    grid-gap: 5%;
    width: 100%;
    height: 60%;
}
.engine-title h1{
    font-size: 24px;
}
.engine-content p{
    font-size: 16px;
}
.engine-1{
    background: #1D1D1D;
    grid-area: engine-1;
    border: 1px solid #F063A6;
    border-radius: 3%;
    display: grid;
    grid-template-areas: "engine-image " 
                         "engine-title"
                         "engine-content";
    grid-template-columns: 1fr;
    height: 70%;
    transition: .5s;
}
.engine-1:hover{
    box-shadow: 0 0 10px #e6589c, 0 0 15px #F063A6, 0 0 30px #f770b1;
}
.engine-2{
    background: #1D1D1D;
    grid-area: engine-2;
    border: 1px solid #F063A6;
    border-radius: 3%;
    display: grid;
    grid-template-areas: "engine-image " 
                         "engine-title"
                         "engine-content";
    grid-template-columns: 1fr;
    height: 70%;
    transition: .5s;
}
.engine-2:hover{
    box-shadow: 0 0 10px #e6589c, 0 0 15px #F063A6, 0 0 30px #f770b1;
}
.engine-3{
    background: #1D1D1D;
    grid-area: engine-3;
    border: 1px solid #F063A6;
    border-radius: 3%;
    display: grid;
    grid-template-areas: "engine-image " 
                         "engine-title"
                         "engine-content";
    grid-template-columns: 1fr;
    height: 70%;
    transition: .5s;
}
.engine-3:hover{
    box-shadow: 0 0 10px #e6589c, 0 0 15px #F063A6, 0 0 30px #f770b1;
}
.engine-4{
    background: #1D1D1D;
    grid-area: engine-4;
    border: 1px solid #F063A6;
    border-radius: 3%;
    display: grid;
    grid-template-areas: "engine-image " 
                         "engine-title"
                         "engine-content";
    grid-template-columns: 1fr;
    height: 70%;
    transition: .5s;
}
.engine-4:hover{
    box-shadow: 0 0 10px #e6589c, 0 0 15px #F063A6, 0 0 30px #f770b1;
}
.engine-image{
    grid-area: engine-title;
    justify-self: center;
    align-self: center;
}
.engine-title{
    grid-area: engine-image;
    justify-self: center;
    text-align: center;
    align-self: center;
}
.engine-content{
    align-self: center;
    text-align: center;
    grid-area: engine-content;
    margin: auto 10%;

}
@media only screen and (max-width: 1450px){
    .container{
        margin-left: 5%;
        margin-right: 5%;
    }
    .engine-content p{
        font-size: 14px;
    }

}
@media only screen and (max-width: 1176px){
    .engine-1{
        height: 85%;
    }
    .engine-2{
        height: 85%;
    }
    .engine-3{
        height: 85%;
    }
    .engine-4{
        height: 85%;
    }
}
@media only screen and (max-width: 835px){
    .container{
        padding-top: 15%;
    }
    .engines{
        height: 100%;
        width: 100%;
        display: flex;
        gap: 5%;
        overflow-x: auto;
        scroll-snap-type: x mandatory;
    }
    .engine a{
        scroll-snap-align: start;
    }
    .engine-1{
        height: 50%;
        padding: 5%;
        scroll-snap-align: start;
    }
    .engine-2{
        height: 50%;
        padding: 5%;
        scroll-snap-align: start;
    }
    .engine-3{
        height: 50%;
        padding: 5%;
        padding-left: 10%;
        padding-right: 10%;
        scroll-snap-align: start;
    }
    .engine-4{
        height: 50%;
        padding: 5%;
        padding-left: 10%;
        padding-right: 10%;
        scroll-snap-align: start;
    }
    .engine-content{
        text-align: left;
        margin: 0;
        align-self: flex-start;
    }
}
@media only screen and (width: 800px){
    .engine-1{
        height: 80%;
    }
    .engine-2{
        height: 80%;
    }
    .engine-3{
        height: 80%;
    }
    .engine-4{
        height: 80%;
    }
}
@media only screen and (max-width: 425px){
    .engine-1{
        height: 60%;
    }
    .engine-2{
        height: 60%;
    }
    .engine-3{
        height: 60%;
    }
    .engine-4{
        height: 60%;
    }
}
@media only screen and (max-width: 340px){
    .engine-1{
        height: 80%;
    }
    .engine-2{
        height: 80%;
    }
    .engine-3{
        height: 80%;
    }
    .engine-4{
        height: 80%;
    }
}

/*
@media only screen and (max-width: 1680px){
    .engines{
        grid-template-areas: "engine-1 engine-2"   
                             "engine-3 engine-4";
        grid-template-columns: 1fr 1fr;
        margin-top: 5%;
        grid-gap: 3%;
        width: 100%;
        height: 55%;
    }
    .engine-image{
        margin-left: 30%;
    }
    .engine-3 .engine-title{
        margin-top: 12%;
        margin-left: 0;
        margin-right: 20%;
    }
    .engine-4 .engine-title{
        margin-top: 15%;
    }
}
@media only screen and (max-width: 801px){
    .container{
        margin-left: 0;
        margin-right: 0;
        padding-top: 20%;
    }
    .engines{
        grid-template-areas: "engine-1" "engine-2" "engine-3" "engine-4";
        grid-template-columns: 1fr;
        width: 100%;
        height: 180%;
    }
    .main-content{
        margin-left: 5%;
    }
}
*/