*{
    margin: 0;
    padding: 0;
}
img{
    width: 90px;
    height: 90px;
}
.container{
    padding-top: 6%;
    color: white;
    margin-left: 15%;
    margin-right: 15%;
}
.main-title h1{
    text-align: center;
    color: white;
    font-size: 45px;
    font-family: sans-serif;
}
.main-content p{
    padding-top: 5%;
    font-size: 16px;
    font-family: sans-serif;
}
.engines{
    display: grid;
    grid-template-areas: "engine-1 engine-2 engine-3 engine-4";
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-top: 5%;
    grid-gap: 2%;
    width: 100%;
    height: 35%;
}
.engine-1{
    background: #1D1D1D;
    grid-area: engine-1;
    border: 2px solid #F063A6;
    border-radius: 3%;
    display: grid;
    grid-template-areas: "engine-image engine-title"
                         "engine-content engine-content"
                         "engine-btn engine-btn";
    grid-template-columns: 1fr 2fr;
}
.engine-2{
    background: #1D1D1D;
    grid-area: engine-2;
    border: 2px solid #F063A6;
    border-radius: 3%;
    display: grid;
    grid-template-areas: "engine-image engine-title"
                         "engine-content engine-content"
                         "engine-btn engine-btn";
    grid-template-columns: 1fr 2fr;
}
.engine-3{
    background: #1D1D1D;
    grid-area: engine-3;
    border: 2px solid #F063A6;
    border-radius: 3%;
    display: grid;
    grid-template-areas: "engine-image engine-title"
                         "engine-content engine-content"
                         "engine-btn engine-btn";
    grid-template-columns: 1fr 2fr;
}
.engine-4{
    background: #1D1D1D;
    grid-area: engine-4;
    border: 2px solid #F063A6;
    border-radius: 3%;
    display: grid;
    grid-template-areas: "engine-image engine-title"
                         "engine-content engine-content"
                         "engine-btn engine-btn";
    grid-template-columns: 1fr 1fr;
}
.engine-image{
    grid-area: engine-image;
    margin-top: 12%;
    margin-left: 8%;
}
.engine-title{
    grid-area: engine-title;
    margin-top: 6%;
    margin-left: 4%;
}
.engine-3 .engine-title{
    margin-top: 23%;
    margin-right: 10%;
    text-align: center;
}
.engine-4 .engine-title{
    margin-top: 30%;
    text-align: left;
}
.engine-content{
    grid-area: engine-content;
    margin-left: 2%;
}
.engine-btn{
    grid-area: engine-btn;
}
.btn{
    color: #fff;
    font-weight: bold;
    font-size: 15px;
    padding: 10px;
    text-transform: uppercase;
    margin-left: 30%;
    background: #eb4d9f;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.btn:hover{
    background-color: #DE338B;
}
@media only screen and (max-width: 1680px){
    .engines{
        grid-template-areas: "engine-1 engine-2"   
                             "engine-3 engine-4";
        grid-template-columns: 1fr 1fr;
        margin-top: 5%;
        grid-gap: 3%;
        width: 100%;
        height: 55%;
    }
    .engine-btn{
        margin-left: 13%;
    }
    .engine-image{
        margin-left: 30%;
    }
    .engine-3 .engine-title{
        margin-top: 12%;
        margin-left: 0;
        margin-right: 20%;
    }
    .engine-4 .engine-title{
        margin-top: 15%;
    }
}
@media only screen and (max-width: 801px){
    .container{
        margin-left: 0;
        margin-right: 0;
        padding-top: 20%;
    }
    .engines{
        grid-template-areas: "engine-1" "engine-2" "engine-3" "engine-4";
        grid-template-columns: 1fr;
        width: 100%;
        height: 180%;
    }
}