*{
  padding:0;
  margin: 0;
  box-sizing: border-box;
}

.container{
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background: url("../../../../assets/background/bg1.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#logo{
  width: 259px;
  height: 51px;
  margin-bottom: 8px;
}

.left-side{
  width: 35vw;
  height: 100vh;
  background: rgb(0, 0, 0, 0.5);
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.left-side h2{
  color: #fff;
  font-weight: bold;
  font-size: 26px;
  margin-bottom: 15px;
  font-family: 'Roboto', sans-serif;
}

.left-side p {
  color: #fff;
  font-size: 15px;
  padding: 0px 30px;
  font-family: 'Roboto', sans-serif;
  line-height: 23px;
  letter-spacing: 0.3px;
}

.right-side{
  width: 65vw;
  height: 100vh;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.login-box{
  background-color: #1D1419;
  padding: 20px 35px;
  font-family: 'Poppins', sans-serif;
  color: #fff;
  border-radius: 6px;
}

.login-box h2{
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 20px;
}

.input{
  display: flex;
  flex-direction: column;
}

.input label{
  font-size: 13px;
  margin-bottom: 3px;
}

.input input{
  height: 34px;
  width: 220px;
  outline: none;
  border: none;
  border-radius: 6px;
  padding: 0px 7px;
  margin-bottom: 10px;
  background-color: #ededed;
}

.input input:focus{
  background-color: #fff;
}

.btn{
  justify-content: center;
  display: flex;
  margin: 20px 0px 10px 0px;
}

#submit{
  width: 85px;
  height: 30px;
  outline: none;
  border: none;
  color: #fff;
  background-color: #cf006b;
  font-weight: 600;
  border-radius: 5px;
  cursor: pointer;
  transition: .5s;
}

#submit:hover{
  background-color: #a00053;
}

.login-box span{
  font-size: 12px;
  justify-content: center;
  display: flex;
  gap: 5px;
  align-items: center;
}

.login-box span a{
  color: #fff;
  font-weight:600;
  text-decoration: none;
}

.sign-up{
  margin-top: 5px;
  font-family: 'Poppins', sans-serif;
}

.sign-up span{
  font-size: 14px;
  color: #fff;
}

.sign-up span a {
  font-size: 14px;
  color: #fff;
  font-weight:600;
  text-decoration: none;
}

@media screen and (max-width: 950px){
  
  .left-side{
    width: 50vw;
  }

}

@media screen and (max-width: 768px){
  
  .left-side{
    display: none;
  }

}