 /* You can add global styles to this file, and also import other style files */
body{
    padding-bottom: 500px;

}

.aulas{
    border-bottom: 1px solid red;
    padding: 2em;
    margin-bottom: 1em;
}