<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
<body>
<div class="container">
    <div class="main-title">
        <h1>Conversor PDF/IMG para texto editável</h1>
    </div>
    <div class="main-content">
        <p>Converta em massa arquivos pdf e imagem em aquivos de texto editável e economize o tempo que passaria digitando.</p>
    </div>
    <div class="main-illustration">
        <img src="assets/engineicons/converter_illustration.png">
    </div>
    <div class="btns">
        <div class="btn-test">
            <a class="btn" (click)="scroll();">Teste</a>
        </div>
        <div class="txt-or">
            <span>ou</span>
        </div>
        <div class="btn-buy">
            <a routerLink="/plans" class="btn">Adquira já</a>
        </div>
    </div>
</div>
<div class="engine-test" id="target">
    <app-engine-test></app-engine-test>
</div>
<div class="footer">
    <app-footer></app-footer>
</div> 

</body>
