<head>
  <script src="https://kit.fontawesome.com/1ebda6d734.js" crossorigin="anonymous"></script>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<footer class="footer">
  <div class="main">
    <div class="left box">
      <img src="../../assets/logo.png" alt="Logo da Di2Win" id="logo">
      <div class="content">
        <p>Somos um grupo de pessoas com conhecimentos e experiências no desenvolvimento de projetos e soluções em TI que a partir dessa vivência e aliada à percepção de que uma nova era digital surgiu, resolveu entregar às empresas uma nova experiência digital, mais completa e inovadora.</p>
        <div class="media">
          <a href="https://www.instagram.com/di2win/" target="_blank"><img src="../../assets/footer-icons/instagram_logo.svg" alt=""></a>
          <a href="https://www.linkedin.com/company/di2win/" target="_blank"><img src="../../assets/footer-icons/linkedin-logo.svg" alt=""></a>
          <a href="https://www.facebook.com/di2win" target="_blank"><img src="../../assets/footer-icons/facebook_logo.svg" alt=""></a>
        </div>
      </div>
    </div>


    <div class="center box">
      <h3>Endereço</h3>
      <div class="content">
        <div class="place">
          <img class="icon" src="../../assets/footer-icons/adress_icon.png" alt="">
          <span class="text">Av. Barbosa Lima, 149 - Recife, PE, 50030-330</span>
        </div>

        <div class="phone">
          <img class="icon" src="../../assets/footer-icons/phone_icon.svg" alt="">
          <span class="text">99 9 99999-9999</span>
        </div>

        <div class="email">
          <img class="icon" src="../../assets/footer-icons/email_icon.png" alt="">
          <span class="text">contato@di2win.com</span>
        </div>
      </div>
    </div>


    <div class="right box">
      <h3>Links rápidos</h3>
      <div class="links content">
          <a href="/sobre">Sobre nós</a>
          <a href="/plans">Planos</a>
      </div>
    </div>
  </div>
  <div class="bottom">
    <span>Todos direitos reservados &copy; 2022</span>
  </div>
</footer>