<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Poppins&family=Roboto&display=swap" rel="stylesheet">
  </head>
  <body>
    <div id="container">
      <div class="left-side">
        <h2>Conteúdo</h2>
        <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. In pellentesque aliquet ante id consequat. Interdum et malesuada fames ac ante ipsum primis in faucibus. Curabitur aliquam urna vitae enim ultrices, eu euismod eros dictum. Nulla tincidunt ex non nisl congue, vel sollicitudin mauris consectetur. Vivamus placerat sem vel auctor consequat. Fusce id eros ligula. Aenean eget mattis eros. Nunc hendrerit, metus a maximus tristique, lorem lorem pharetra dui, sed gravida sapien lectus a sapien. Vivamus vitae quam ut ligula sodales consectetur vitae at tellus. Integer pretium tempor tellus sodales luctus.<br><br>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. In pellentesque aliquet ante id consequat. Interdum et malesuada fames ac ante ipsum primis in faucibus. Curabitur aliquam urna vitae enim ultrices, eu euismod eros dictum. Nulla tincidunt ex non nisl congue, vel sollicitudin mauris consectetur. Vivamus placerat sem vel auctor consequat. Fusce id eros ligula. Aenean eget mattis eros. Nunc hendrerit, metus a maximus tristique, lorem lorem pharetra dui, sed gravida sapien lectus a sapien. Vivamus vitae quam ut ligula sodales consectetur vitae at tellus. Integer pretium tempor tellus sodales luctus.</p>
      </div>
  
      <div class="right-side">
  
        <img id="logo" src="../../assets/logo.png" alt="Di2Win Logo">
  
        <div class="login-box">
  
         <div class="select">
          <h2>Crie uma nova conta</h2>
           <p>Qual tipo de cadastro deseja realizar?</p>
           <label>
            <input class="empresa" [value]="0" [(ngModel)]="sh" name="sh" type="radio"[checked]="isChecked"/>
            Empresa
           </label>
           <label>
            <input class="pessoa" [value]="1" [(ngModel)]="sh" name="sh" type="radio"[checked]="!isChecked"/>
            Pessoa Física
           </label>
         </div> 

        <div id="Cadastro" *ngIf="sh == 1">
            <div class="input">
              <label for="text">Nome do usuário</label>
              <input type="text" name="text" placeholder="Digite seu usuário">
            </div>
            <div class="input">
              <label for="text">CPF</label>
              <input type="text" name="text" placeholder="Digite seu CPF">
            </div>
            <div id="telefone">
              <label for="telefone">Telefone</label><br>
              <select name="pais" id="pais"></select>
              <input type="tel" required>
            </div>
            <div class="input">
              <label for="email">E-mail</label>
              <input type="email" name="email" placeholder="Digite seu e-mail">
            </div>
            <div class="input">
              <label for="senha">Senha</label>
              <input type="password" name="senha" placeholder="Senha">
            </div>
            <div class="input">
              <label for="senha">Confirmação de senha</label>
              <input type="password" name="senha" placeholder="Confirme sua senha">
            </div>
            <div class="btn">
              <input id="submit" type="submit" name="enviar" value="Finalizar Cadastro">
            </div>
          </div>

          <div id="Cadastro" *ngIf="sh == 0">
            <div class="input">
              <label for="text">Nome da empresa</label>
              <input type="text" name="text" placeholder="Digite nome da sua empresa">
            </div>
            <div class="input">
              <label for="text">CNPJ</label>
              <input type="text" name="text" placeholder="Digite seu CNPJ">
            </div>
            <div id="telefone">
              <label for="telefone">Telefone</label><br>
              <select name="pais" id="pais"></select>
              <input type="tel" required>
            </div>
            <div class="input">
              <label for="email">E-mail</label>
              <input type="email" name="email" placeholder="Digite seu e-mail">
            </div>
            <div class="input">
              <label for="senha">Senha</label>
              <input type="password" name="senha" placeholder="Senha">
            </div>
            <div class="input">
              <label for="senha">Confirmação de senha</label>
              <input type="password" name="senha" placeholder="Confirme sua senha">
            </div>
            <div class="btn">
              <input id="submit" type="submit" name="enviar" value="Finalizar Cadastro">
            </div>
          </div>
        </div>
  
        <div class="sign-up">
          <span>Ja tem uma conta? <a routerLink="/Login">Faça seu Login </a></span>
        </div>
  
      </div>
    </div>
  </body>